<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EDIPlatform" connectionString="Data Source=10.130.2.34;Initial Catalog=EDIPlatform;User ID=sa;Password=dim1rc0@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MachineID" value="TestMachineA"/>
    <add key="ProcessID" value=""/>
    <!--Service Interval in minute-->
    <add key="ServiceInterval" value="1"/>
    <add key="LogFolder" value="F:\DIMERCO B2B\EDIService\Log\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
       
      </basicHttpBinding>
    </bindings>
    <client>
    <!--Marked-->
    </client>
  </system.serviceModel>
</configuration>