<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <!-- <add name="EDIPlatform" connectionString="Data Source=10.130.2.34;Initial Catalog=EDIPlatform;User ID=sa;Password=dim1rc0@" providerName="System.Data.SqlClient" />-->
    <add name="EDIPlatform" connectionString="Data Source=10.130.2.20;Initial Catalog=EDIPlatform;User ID=sa;Password=dim1rc0@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="MachineID" value="TestMachineA" />-->
    <add key="MachineID" value="10.130.2.20" />
    <add key="ProcessID" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
</configuration>