<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceForOPS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://121.42.26.100:3000/ServiceForOPS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForOPS"
                contract="eCallAPI.IServiceForOPS" name="BasicHttpBinding_IServiceForOPS" />
        </client>
    </system.serviceModel>
</configuration>